<div class="row" style="width: 25cm; padding-left: 9cm;padding-top:1%">
    
    <div class="col-12 col-md-8" >
       
        <input type="text" class="form-control"  name="itemName"  id="itemName" #itemName
            aria-describedby="itemHelp" placeholder="Item Name">

    </div>
    <div class="col-6 col-md-4">
        <div class="col-12 col-md-8">
           
            <input type="number" class="form-control"  name="quantity"  id="qty" #qty
                aria-describedby="qtyHelp" placeholder="quantity">

        </div>
    </div>
    
</div>