<app-cart *ngFor="let x of elements"></app-cart>
<div style="padding-left: 9cm;padding-top: 1cm;">
    <button class="btn btn-primary" (click)="addItem('ss')">Add</button> |
    <button class="btn btn-danger" (click)="removeItem()">Remove</button> |
    <button class="btn btn-primary" (click)="initiateOrder()">Order</button>
</div>

<div style="width: 15cm; height: 10cm;padding-top: 2cm;padding-left: 9cm;" [ngClass]="visual">

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Order#</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th scope="col">
              <button class="btn btn-primary">Pay</button>
            </th>
            <th scope="col">
              <button class="btn btn-danger">Cancel</button>
            </th>
          </tr>
        </tfoot>
      </table>
      
      
</div>