<form style="padding-left: 5cm;">
  <div class="row" class="col-6 col-md-4">
    <h4>Summer Bootcamp Enrollment</h4>
  </div>
  <div class="row">

    <div class="form-group" class="col-6 col-md-4">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  </div>

  <div class="row">

    <div class="form-group" class="col-6 col-md-4">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" 
        placeholder="Enter name">
      
    </div>
  </div>

  <div class="row">

    <div class="form-group" class="col-6 col-md-4">
      <label for="phone">Phone Number</label>
      <input type="text" class="form-control" id="phone" 
        placeholder="Enter Phone Number">
      
    </div>
  </div>


  <div class="row">
    <div class="form-group" class="col-6 col-md-4">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
  </div>
  <div class="row">
    <div class="form-group" class="col-6 col-md-4">
      <label for="formControlRange">Skill in java</label>
      <input type="range" class="form-control-range" id="formControlRange">
    </div>
  </div>
  <div class="row" class="col-6 col-md-4">
    <div class="form-group form-check" >
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Accept Terms and conditions</label>
    </div>
  </div>
  <div class="row" >
    <div class="col-6 col-md-4">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  
</div>


</form>